.contact-us__content {
    border-radius: 24px;
    border: 1px solid #e5dcdc;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.12) 100%);
    backdrop-filter: blur(16px);
    padding: 24px;
}

.contact-us__content h2 {
    color: #FFF;

    /* Heading/Heading 2/Medium */
    font-family: "Neue Montreal";
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 67.2px */
    letter-spacing: 0.728px;
    margin: 0;
    margin-bottom: 16px;
}

.contact-us__content p {
    color: #FFF;

    /* Body/Body Small/Regular */
    font-family: "Neue Montreal";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    letter-spacing: 0.26px;
    margin: 0;
}

.divider {
    background: rgba(255, 255, 255, 0.40);
    height: 1px;
    width: 100%;
    display: block !important;
    margin: 40px 0;
}