.product-tab__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 120px;
}

.product-tab__item-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.product-tab-list__item {
    border-radius: 12px;
    border: 1px solid var(--Neutral-100, #E7E7E7);
    padding: 16px;
    display: flex;
    gap: 8px;
}

.product-tab-list__item svg {
    width: 24px;
    height: 24px;
    display: block;
    min-width: 24px;
}

.product-tab-list__item h4 {
    color: var(--Neutral-950, #111);
    font-family: "Neue Montreal";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.208px;
    margin: 0;
}

.product-tab-list__item p {
    color: var(--Neutral-700, #4F4F4F);

    /* Paragraph/Paragraph Medium/Regular */
    font-family: "Neue Montreal";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: 0.182px;
    margin: 0;
    margin-top: 8px;
}

.product-tab__right h2 {
    color: var(--Neutral-950, #111);

    /* Body/Body Large/Medium */
    font-family: "Neue Montreal";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 33.6px */
    letter-spacing: 0.364px;
}

.product-tab__left {
    display: flex;
    flex-direction: column;
}

.product-tab__left button {
    color: var(--primary-700-p, #111);

    /* Body/Body Small/Medium */
    font-family: "Neue Montreal";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
    letter-spacing: 0.26px;
    background: white;
    padding: 16px;
    text-align: left;
    border: none;
    cursor: pointer;
}

.product-tab__left button:hover {
    color: #077D9E;
}

.product-tab__left button.active {
    color: #077D9E;
    border-left: 2px solid var(--primary-700-p, #077D9E);
}

.product-tab__right--content {
    display: none;
}

.product-tab__right--content.active {
    display: block;
}

.product-tab__item-index {
    color: var(--Base-White, #FFF);
    text-align: center;
    font-family: "Neue Montreal";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.156px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #077D9E;
    min-width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-tab__item-list--2 {
    grid-template-columns: 1fr;
    margin-top: 24px;
}

.product-tab__item-icon img {
    min-width: 20px;
}

.product-tab__right--content-2 img, .bproduct-tab__right--content-2 video {
    border-radius: 24px;
}