.text-with-text__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-with-text__content .heading {
    font-family: "Neue Montreal";
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 67.2px */
    letter-spacing: 0.728px;
    margin: 0;
}

.text-with-text__content .subheading {
    color: var(--Neutral-500, #6D6D6D);
    /* Body/Body Large/Medium */
    font-family: "Neue Montreal";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 33.6px */
    letter-spacing: 0.364px;
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.text-with-text__content .description {
    color: var(--Neutral-400, #888);
    /* Body/Body Medium/Regular */
    font-family: "Neue Montreal";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.312px;
}

.text-with-text__content .description strong {
    color: #111;
}

.text-with-text__content .subheading span {
    width: 60px;
    height: 1px;
    background: #717171;
    display: block !important;
}