.three-steps__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 28px;
}

.three-steps__item {
    background: white;
    padding: 16px 4px 4px 4px;
    border-radius: 16px;
    margin-top: 200px;
}

.three-steps__item h3 {
    color: var(--Neutral-950, #111);

    /* Body/Body Large/Medium */
    font-family: "Neue Montreal";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 33.6px */
    letter-spacing: 0.364px;
    margin: 0;
    margin-bottom: 8px;
}

.three-steps__item p {
    color: var(--Neutral-950, #111);

    /* Body/Body Small/Regular */
    font-family: "Neue Montreal";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    letter-spacing: 0.26px;
    min-height: 48px;
    margin-bottom: 16px;
    margin-top: 0;
}

.three-steps__item img {
    border-radius: 16px;
}

.three-steps__index {
    color: var(--Neutral-100, #E7E7E7);
    leading-trim: both;
    text-edge: cap;
    font-family: "Neue Montreal";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 60px */
    letter-spacing: 0.78px;
    margin-bottom: 12px;
}

.three-steps__item--info {
    padding-left: 12px;
    padding-right: 12px;
}

.three-steps-section h2 {
    text-align: left;
    color: #FFF;

    /* Heading/Heading 1/Medium */
    font-family: "Neue Montreal";
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 76.8px */
    letter-spacing: 0.832px;
    margin: 0;
}

.three-steps-section h2+h2 {
    color: rgba(255, 255, 255, 0.50);
}